.color__value
  font-size: var(--18px)

.color
  width: 100%

  &__list
    display: flex
    align-items: center
    justify-content: center

  &__card
    width: calc(30% - 40px)
    display: flex
    flex-direction: column
    height: 10rem
